/*
  color options:
  #DCEED1
  #AAC0AA
  #736372
  #A18276
  #7A918D
  https://coolors.co/dceed1-aac0aa-736372-a18276-7a918d
*/
#container {
  background: #DCEED1;
  width: 75%;
  margin: 100px auto;
  border: 2px solid #A18276;
  border-radius: 4px;
}

body {
  font-family: 'Oswald', sans-serif;
  background: #A18276;
  color: #736372;
  font-size: 2em;
  letter-spacing: 2px;
}

input {
  font-size: 18px;
  background: #AAC0AA;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #736372;
  border: 3px solid #AAC0AA;
}

input:focus {
  background: #AAC0AA;
  border: 3px solid #AAC0AA;
  outline: none;
}

#description {
  padding: 0 0 10px 0;
  overflow-wrap: break-word;
}

div#container div {
  padding: 0 22px;
}
